<h1>All Shortened URLs</h1>
<p><%= link_to 'Shorten a new URL', new_link_path %></p>
<table class="table">
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
      <th>Clicks</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.original_url %></td>
        <td><%= link_to 'view', link_path(link) %></td>
        <td><%= link.clicks %></td>
        <td><%= link.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
